/*-------------- catalog-list -----------------*/
.catalog-item{
	position: relative;
	padding-top: 22px;

	.stickers{
		position: absolute;
		top: 15px;
		left: 15px;
		z-index: 2;
	}

	.catalog-item-actions{
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;
	}

	&__img-wrap{
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 5px;
	}

	&__img-content{padding-bottom: 63%;}

	&__img{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.2s ease;

		img{
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	&__img-wrap:hover &__img{transform: translate(-50%, -50%) scale(0.95);}

	&__info{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 8px;
	}

	&__price{
		font-size: 2.2rem;
		font-weight: 800;
		line-height: 1.2;
		color: #000;
	}

	&__old-price{
		font-size: 1.4rem;
		line-height: 1.2;
		color: rgba(0, 0, 0, 0.5);
		text-decoration: line-through;
	}

	&__status{
		font-size: 1.2rem;
		line-height: 1.2;
		color: #2F4055;
	}

	&__title{
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.06;
		color: #000;

		a{
			color: #000;
			text-decoration: none;
			transition: color 0.2s ease;

			&:hover{color: var(--color-primary);}
		}
	}

	&__btn{
		display: flex;
		gap: 8px;
		margin-top: 28px;

		.btn{
			width: 100%;
			padding: 0 20px;
			white-space: nowrap;
		}
	}
}

.stickers{
	display: inline-flex;
	align-items: center;
	gap: 5px;

	&__item{
		display: inline-flex;
		align-items: center;
		height: 1.8rem;
		border-radius: 0.9rem;
		padding: 0 7px;
		background: #75BB0C;
		background: linear-gradient(nulldeg, rgba(117, 187, 12, 1) 100%, rgba(145, 210, 0, 1) 0%);
		font-size: 1.2rem;
		font-weight: 800;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;

		&_small{font-size: 0.8rem;}
		&_purple{background: #6A5DFF;}
		&_orange{background: #FF765D;}
		&_green{background: #0CDC78;}
	}
}

.catalog-item-actions{
	display: inline-flex;
	align-items: center;
	gap: 10px;

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		color: rgba(0, 0, 0, 0.5);
		transition: color 0.2s ease;
		cursor: pointer;

		&:hover,
		&.active{
			color: var(--color-primary);
		}
	}
}

.catalog-item-params{
	margin-top: 15px;

	&__item:not(:last-child){margin-bottom: 1px;}

	&__item{
		font-size: 1.2rem;
		line-height: 1.4;
		color: #000;
	}

	&__label{
		color: rgba(0, 0, 0, 0.5);
		margin-right: 15px;
	}
}

.catalog-list{
	display: flex;
	flex-wrap: wrap;
	gap: 20px 106px;

	.catalog-item{
		width: calc(25% - 79.5px);
		background: #fff;
		border-radius: 20px;
		padding: 25px 40px;
	}
}

.catalog-desc-bottom{
	margin-top: 50px;
}

@media (max-width: 1809px) {
	.catalog-item{
		&__btn{
			.btn{padding: 0 15px;}
		}
	}
}

@media (max-width: 1279px) {
	.catalog-item{
		&__btn{
			.btn{font-size: 1.4rem;}
		}
	}
}

@media (max-width: 767px) {
	.catalog-item{
		display: grid;
		grid-template-columns: 100px calc(100% - 135px);
		gap: 0 35px;

		&__img-wrap{width: 100px;}
		&__img-content{padding-bottom: 100%;}
		.stickers{left: 0;}

		.catalog-item-params,
		&__btn{
			grid-column: span 2;
		}

		&__btn{
			order: 10;
			padding-right: 80px;
			margin-top: 20px;
		}

		.catalog-item-actions{
			top: auto;
			bottom: 8px;
			right: 0;
		}

		&__content{
			display: flex;
			flex-direction: column;
		}

		&__info{
			order: 3;
			margin-top: 10px;
		}

		&__status{margin-bottom: 8px;}
		&__info &__status{display: none;}
	}
}