/*-------------- catalog-slider -----------------*/
.catalog-slider-wrap{
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 3rem;

		h2, .h2{margin-bottom: 0;}
	}
}

@media (max-width: 767px) {
	.prod-detail-thumb-slider-wrap{display: none;}
}