/*-------------- catalog-section -----------------*/
.catalog-section-page{
	&__top{
		display: flex;
		gap: 70px;
		margin-bottom: 35px;

		.catalog-list{
			gap: 15px 48px;

			.catalog-item{width: calc(33.33% - 32px);}
		}
	}

	&__content{width: 100%;}

	&__left{
		flex-shrink: 0;
		width: 350px;
	}

	&__actions{
		margin-top: 35px;
		.sort{width: 100%;}
	}
}

.catalog-sect{
	display: flex;
	flex-wrap: wrap;
	gap: 35px 85px;

	&__item{width: 192px;}

	&__img-wrap{
		display: block;
		padding-bottom: 100%;
		position: relative;
		background: #fff;
		border-radius: 20px;
		overflow: hidden;
	}

	&__img{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.3s ease;

		img{
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	&__img-wrap:hover &__img{transform: translate(-50%, -50%) scale(0.95);}

	&__title{
		font-size: 1.6rem;
		font-weight: 500;
		color: #000;
		text-align: center;
		margin-top: 10px;

		a{
			color: #000;
			text-decoration: none;
			transition: color 0.2s ease;

			&:hover{color: var(--color-primary);}
		}
	}
}

@media (max-width: 1279px) {
	.catalog-section-page{
		&__top{gap: 30px;}
		&__left{width: 300px;}
	}

	.catalog-sect{gap: 20px;}
}

@media (max-width: 1023px) {
	.catalog-sect{
		&__item{width: calc(33.33% - 13.33px);}
	}
}

@media (max-width: 991px) {
	.catalog-section-page{
		&__top{flex-direction: column-reverse;}
		&__left{width: 100%;}
		&__actions{margin-top: 30px;}

		&__actions{
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 15px;

			.sort{width: calc(100% - 45px);}
		}
	}

	.filter-btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		color: #3B3B3B;
		cursor: pointer;

		.ic-filter-fill{display: none;}
		&.active .ic-filter{display: none;}

		&.active .ic-filter-fill{
			display: block;
			color: var(--color-primary);
		}
	}

	.catalog-sect{
		gap: 20px 8px;

		&__item{width: calc(50% - 4px);}
		&__title{font-size: 1.4rem;}
	}
}