/*-------------- form-search -----------------*/
.form-search{
	display: inline-flex;
	width: 322px;

	input[type="text"],
	input[type="search"]{
		display: inline-block;
		height: 5.4rem;
		width: 100%;
		font-family: var(--font-site);
		@include font(none, none, 1.6rem, 1, var(--color-text));
		padding: 0 30px;
		background: transparent;
		border-radius: 2.6rem 0 0 2.6rem;
		border: 1px solid var(--color-second);
		border-right: 0;
		outline: 0;
		margin: 0;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	input[type="text"]:focus,
	input[type="search"]:focus{
		border-color: var(--color-second-hover);
	}

	input[type="text"]::placeholder,
	input[type="search"]::placeholder{
		font-weight: 300;
		color: #B7B7B7;
		opacity: 1;
	}

	input[type="submit"],
	button{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 80px;
		background: var(--color-second);
		border-radius: 0 2.6rem 2.6rem 0;
		font-size: 0;
		color: #fff;
		margin: 0;
		padding: 0;
		box-shadow: none;
		cursor: pointer;
		transition: background-color 0.2s ease 0s;

		&:hover{
			background: var(--color-second-hover);
			color: #fff;
		}
	}
}

.title-search-result{
	padding: 15px;
	border-radius: 0 0 20px 20px;
	background: #fff;
	z-index: 1000;

	&__list,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item{
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 10px;

		&::before{display: none;}
	}

	&__img{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 100px;
		height: 100px;
		background: var(--bg-grey);
		border-radius: 16px;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title{
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 1.2;
		color: #000;

		a{
			color: #000;
			text-decoration: none;
			transition: color .2s ease;

			&:hover{color: var(--color-primary);}
		}
	}

	&__link{
		width: 100%;
		font-size: 1.4rem;
		text-align: right;
		margin-top: 5px;
	}
}