/*-------------- input-radio -----------------*/
.input-radio{
	display: inline-flex;
	gap: 10px;
	font-size: 1.6rem;
	margin: 0;
	position: relative;
	cursor: pointer;

	input[type=radio]{display: none;}

	&__mark{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		border: 1px solid #202020;
		border-radius: 50%;
		position: relative;
		transition: border 0.2s ease 0s;

		&::after{
			content: '';
			display: inline-flex;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background: #202020;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__text{margin-top: 2px;}

	input[type=radio]:checked + &__mark::after{opacity: 1;}
}

@media (max-width: 767px) {
	.input-radio{
		font-size: 1.4rem;
		&__text{margin-top: -2px;}

		&__mark{
			width: 16px;
			height: 16px;
			
			&::after{
				width: 10px;
				height: 10px;
			}
		}
	}
}