/*-------------- main-tags -----------------*/
.main-tags{
	display: flex;
	flex-wrap: wrap;
	gap: 17px 20px;
	font-size: 1.1rem;
	color: var(--color-second);
	white-space: nowrap;
}

@media (max-width: 767px) {
	.main-tags{justify-content: center;}
}