/*-------------- main-tags -----------------*/
.main-tags{
	display: flex;
	flex-wrap: wrap;
	gap: 17px 20px;
	font-size: 1.1rem;
	color: var(--color-second);
	white-space: nowrap;

	&__item{
		color: var(--color-second);
		text-decoration: none;
		transition: color 0.2s ease;

		&:hover{color: var(--color-primary);}
	}
}

@media (max-width: 767px) {
	.main-tags{justify-content: center;}
}