/*-------------- more-text -----------------*/
.more-text{
	display: flex;
	flex-direction: column;
	gap: 30px;

	&__content{
		transition: all 0.4s linear;
		line-height: 1.4;
		 /* Стили для обрезанного текста */
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.btn{
		align-self: center;
		display: none;
		margin: 15px auto 0;

		&.visible{display: inline-flex;}
	}

	&__link{
		display: none;
		text-decoration: underline;
		cursor: pointer;
		transition: all 0.2s ease;

		&.visible{display: inline-block;}

		&:hover{
			text-decoration: none;
			color: var(--color-primary);
		}
	}
}

// .more-text__content {
//     /* Базовые стили для текста */
//     line-height: 1.5;
// 	transition: all 0.7s ease;
// }

// .more-text__content.truncated {
//     /* Стили для обрезанного текста */
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }

// .js-more-text-btn {
//     /* Стили для кнопки */
//     cursor: pointer;
//     color: #007bff;
//     text-decoration: underline;
//     background: none;
//     border: none;
//     padding: 0;
//     font: inherit;
//     display: none;
// }

// .js-more-text-btn.visible {
//     display: inline-block;
// }
@media (max-width: 767px) {
	.more-text{
		.btn{
			width: 100%;
			margin: 0;
		}
	}
}