/*-------------- sale-popup -----------------*/
.sale-popup{
	background: var(--color-second);
	border-radius: 8px;
	padding: 12px;
	color: #fff;
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 1000;

	&::after{
		content: '';
		display: block;
		width: 76px;
		height: 78px;
		background: url(../img/star-3d.svg) no-repeat center;
		background-position: center;
		background-size: contain;
		position: absolute;
		top: -27px;
		right: -27px;
	}

	&__title{
		width: 265px;
		font-size: 1.6rem;
		font-weight: 800;
		line-height: 1.25;
	}

	&__bottom{
		display: flex;
		align-items: center;
		gap: 25px;
		margin-top: 16px;

		.btn{padding: 0 26px;}
	}

	&__label{font-size: 1.2rem;}

	&__val{
		font-size: 1.6rem;
		font-weight: bold;
	}
}