/*-------------- swiper -----------------*/
.slider-arr-list{
	display: inline-flex;
	align-items: center;
	gap: 24px;
}

.swiper-button-prev.slider-arr,
.swiper-button-next.slider-arr{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 42px;
	height: 42px;
	background: linear-gradient(180deg, #75BB0C, #91D200, #75BB0C);
	background-size: 100% 200%;
	background-position: 0 100%;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 0 0 #75BB0C;
	border-radius: 50%;
	border: none;
	outline: none;
	color: #fff;
	text-decoration: none;
	position: static;
	margin: 0;

	svg{
		width: auto;
		height: auto;
	}

	&:hover{
		color: #fff;
		background-position: 0 0;
		transform: translateY(-2px) translateX(-1px);
		box-shadow: 1px 2px 0 0 #75BB0C;
	}
}


body .swiper-horizontal > .swiper-pagination-bullets,
body .swiper-pagination-bullets.swiper-pagination-horizontal{
	position: static;
	margin: 20px auto 0;
}

body .swiper-pagination-bullet{
	width: 8px;
	height: 8px;
	background: var(--color-second);
	opacity: 0.3;
	border-radius: 50%;
	transition: opacity 0.2s ease;

	&:hover{opacity: 0.7;}
}

body .swiper-pagination-bullet-active{opacity: 0.7;}

body .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0;
}

body .swiper-pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

@media (max-width: 767px) {
	.slider-arr-list{gap: 12px;}

	.swiper-button-prev.slider-arr,
	.swiper-button-next.slider-arr{
		width: 32px;
		height: 32px;

		.icon{
			width: 6px;
			height: 10px;
		}
	}

	.swiper-slide.catalog-item{display: grid!important;}
}