section.main-tags-wrap.mt-indent
		.container
			.row
				.col-12
					.main-tags
						-
							var list=[
								{text:'Apple'},
								{text:'Honor'},
								{text:'Huawei'},
								{text:'POCO'},
								{text:'Redmi'},
								{text:'Samsung'},
								{text:'Xiaomi'},
								{text:'iPhone 11'},
								{text:'iPhone 12'},
								{text:'iPhone 13'},
								{text:'iPhone 14'},
								{text:'iPhone 14 Plus'},
								{text:'iPhone 15'},
								{text:'iPhone 15 Pro'},
								{text:'iPhone 15 Pro Max'},
								{text:'iPhone 15 Plus'},
								{text:'iPhone 16'},
								{text:'iPhone 16 Pro'},
								{text:'iPhone 16 Pro Max'},
								{text:'iPhone 16'},
								{text:'iPhone 16 Plus'},
								{text:'iPhone 16e'},
								{text:'iPhone 17 Pro'},
								{text:'iPhone 17'},
								{text:'Galaxy S25 Ultra'},
								{text:'Galaxy S25+'},
								{text:'Galaxy S25'},
								{text:'Galaxy Z Fold6'},
								{text:'Galaxy Z Flip6'},
								{text:'Galaxy A56'},
								{text:'Galaxy A55'},
								{text:'Xiaomi 15 Ultra'},
								{text:'Xiaomi 15 Pro'},
								{text:'Redmi Note 14 Pro'},
								{text:'POCO X7 Pro'},
								{text:'белый'},
								{text:'бирюзовый'},
								{text:'голубой'},
								{text:'жёлтый'},
								{text:'зеленый'},
								{text:'оранжевый'},
								{text:'розовый'},
								{text:'серый'},
								{text:'синий'},
								{text:'тёмно‑синий'},
								{text:'ультрамарин'},
								{text:'фиолетовый'},
								{text:'черный'},
								{text:'«песчаный титановый»'},
								{text:'«сияющая звезда»'},
								{text:'«титановый бежевый»'},
								{text:'«титановый белый»'},
								{text:'«титановый синий»'},
								{text:'«титановый чёрный»'},
								{text:'«тёмная ночь»'},
								{text:'(PRODUCT)RED'},
								{text:'64 ГБ'},
								{text:'128 ГБ'},
								{text:'256 ГБ'},
								{text:'512 ГБ'},
								{text:'1 ТБ'},
								{text:'Apple A18 Pro'},
								{text:'Apple A18'},
								{text:'Apple A17 Pro'},
								{text:'Apple A16 Bionic'},
								{text:'Apple A15 Bionic'},
								{text:'Apple A14 Bionic'},
								{text:'Apple A13 Bionic'},
								{text:'Snapdragon 8'},
								{text:'Elite'},
								{text:'Dimensity 8400 Ultra'},
								{text:'5.6" - 6.1"'},
								{text:'6.2" - 6.5"'},
								{text:'6.6" и более'},
								{text:'Поддержка eSIM'},
								{text:'Поддержка MagSafe'},
								{text:'SIM + eSIM'},
								{text:'dual-SIM'},
							]
						each item in list
							.main-tags__item= item.text