section.subscribe.m-indent
	.container
		.row
			.col-12
				.subscribe__content
					.subscribe__img
						img(src="/upload/subscription.svg", alt="")

					.subscribe__info
						.h2 Будьте в курсе самых тайных предложений
						
						p Подпишитесь на наш канал в 
							a(href="#") Telegram. 
							|Там мы публикуем новинки, акции, а также секретные промокоды для самых выгодных покупок в магазине Manyphone.

						a(href="#").btn Подписаться
